@use "./styleComponents/reset";
@use "./styleComponents/variables" as *;
@use "./styleComponents/card";
@use "./styleComponents/form";
@use "./styleComponents/result";

* {
  font-size: $font-size-inputs;
}

body {
  background-color: $light-grayish-cyan;
  font-family: $space-mono-700;
}

.app {
  width: 100%;

  h1 {
    text-align: center;
    margin: 1.9rem auto 1.4rem;
  }
}
