@use "./variables" as *;
@use "./mixins" as *;

form {
  color: $dark-grayish-cyan;

  h3 {
    font-size: 0.65rem;
    margin-bottom: 0.37rem;
  }

  input {
    cursor: pointer;
    &:focus {
      outline-color: $strong-cyan;
    }
  }

  .bill {
    input {
      @include formInput("./images/icon-dollar.svg");
    }
  }

  .select-tip {
    h3 {
      margin-top: 1.2rem;
      margin-bottom: 0.6rem;
    }

    input {
      @include formInput("./images/icon-dollar.svg");
      background-image: none;
      &::placeholder {
        color: $dark-grayish-cyan;
      }
    }

    button.select-tip__percentage {
      @include button();
      color: $white;
      background-color: $very-dark-cyan;
      &:hover {
        color: $very-dark-cyan;
        background-color: $strong-cyan;
      }
    }

    .tip-wrapper {
      display: grid;
      grid-template-columns: minmax(6rem, 1fr) minmax(6rem, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 0.7rem;

      @include large {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        margin-bottom: 1.8rem;
      }
    }

    input,
    button {
      max-width: 8rem;
    }
  }

  .num-of-people {
    h3 {
      margin-top: 1.3rem;
      position: relative;
    }

    input {
      @include formInput("./images/icon-person.svg");
    }
  }

  .error-message {
    color: rgba(228, 72, 67, 0.932);
    font-size: 0.7rem;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}
